<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <title>500-LayuiCMSluyun</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../plugins/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/plugins/layui/css/layui.css" media="all"/>
    <style>
        body {
            padding: 5% 0 0 0;
            margin: 0;
            text-align: center;
            overflow: hidden;
        }
    </style>

</head>

<body>
<i class="layui-icon layui-anim layui-anim-up"
   style="line-height:20rem; font-size:20rem; color: #393D50;">&#xe61c;</i>
<p class="layui-anim layui-anim-scaleSpring" style="font-size: 20px; font-weight: 300; color: #999;">
    访问出错，请检查网页地址是否输入正确。
</p>
</body>

</html>