<div class="layui-fluid" id="VIEW-index" lay-title="首页">
  <div class="nepadmin-pad-tb20">
    <h1 class="nepadmin-lead">NepAdmin 后台单页面模板</h1>
    <div class="nepadmin-ignore nepadmin-pad-tb10">
      <p>遵循原生 HTML/CSS/JS 的书写与组织形式，上手容易，拿来即用。</p>
      <p>nepadmin 最低兼容到IE8浏览器。</p>
    </div>
  </div>
  <div class="layui-row layui-col-space15">
    <div class="layui-col-lg8">
      <div class="layui-row layui-col-space15">
        <div class="layui-col-sm4">
          <div class="nepadmin-linecard">
            <p class="nepadmin-linecard-title">日成交额</p>
            <span class="nepadmin-linecard-text">￥229,200</span>
            <span class="nepadmin-ignore">万元</span>
          </div>
        </div>
        <div class="layui-col-sm4">
          <div class="nepadmin-linecard nepadmin-br-green">
            <p class="nepadmin-linecard-title">日新增用户</p>
            <span class="nepadmin-linecard-text">2468</span>
            <span class="nepadmin-ignore">人</span>
          </div>
        </div>
        <div class="layui-col-sm4">
          <div class="nepadmin-linecard nepadmin-br-red">
            <p class="nepadmin-linecard-title">
              待处理订单
              <a href="#" class="nepadmin-c-blue nepadmin-font-12">立即处理</a>
            </p>
            <span class="nepadmin-linecard-text">￥229,200</span>
            <span class="nepadmin-ignore">万元</span>
          </div>
        </div>
        <div class="layui-col-xs12">
          <div class="layui-row layui-col-space15">
            <div class="layui-col-sm6">
              <div class="layui-card">
                <div class="layui-card-header">快捷操作</div>
                <div class="layui-card-body" style="height: 200px;">
                  <div class="layui-row" style="margin-top:15px;">
                    <div class="layui-col-xs3 nepadmin-grid">
                      <span class="layui-icon layui-icon-skin-fill"></span>
                      <p>添加商品</p>
                    </div>
                    <div class="layui-col-xs3 nepadmin-grid">
                      <span
                              class="layui-icon layui-icon-notification-fill"
                      ></span>
                      <p>发布文章</p>
                    </div>
                    <div class="layui-col-xs3 nepadmin-grid">
                      <span class="layui-icon layui-icon-message-fill"></span>
                      <p>订单列表</p>
                    </div>
                    <div class="layui-col-xs3 nepadmin-grid">
                      <span class="layui-icon layui-icon-message-fill"></span>
                      <p>热门评论</p>
                    </div>
                    <div class="layui-col-xs3 nepadmin-grid">
                      <span class="layui-icon layui-icon-heart-fill"></span>
                      <p>用户管理</p>
                    </div>
                    <div class="layui-col-xs3 nepadmin-grid">
                      <span class="layui-icon layui-icon-setting-fill"></span>
                      <p>短信营销</p>
                    </div>
                    <div class="layui-col-xs3 nepadmin-grid">
                      <span class="layui-icon layui-icon-star-fill"></span>
                      <p>网站流量</p>
                    </div>
                    <div class="layui-col-xs3 nepadmin-grid">
                      <span class="layui-icon layui-icon-setting-fill"></span>
                      <p>网站设置</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="layui-col-lg4">
      <div class="layui-card">
        <div class="layui-card-header">版本信息</div>
        <div class="layui-card-body">
          <table class="layui-table">
            <colgroup>
              <col width="100"/>
              <col/>
            </colgroup>
            <tbody>
            <tr>
              <td>当前版本</td>
              <td>v1.0.0</td>
            </tr>
            <tr>
              <td>基于框架</td>
              <td>
                <script type="text/html" template>
                  layui-v{{ layui.v }}
                </script>
              </td>
            </tr>
            <tr>
              <td>主要特色</td>
              <td>单页面 / 响应式 / 简洁</td>
            </tr>
            <tr>
              <td>下载源码</td>
              <td style="padding-bottom: 0;">
                <div class="layui-btn-container">
                  <a
                          href="https://github.com/fanjyy/nep-admin"
                          target="_blank"
                          class="layui-btn layui-btn-danger"
                  ><i class="layui-icon">&#xe965;</i>GITHUB</a
                  >
                  <a
                          href="https://gitee.com/june000/nep-admin"
                          target="_blank"
                          class="layui-btn layui-btn-success"
                  >GITEE</a
                  >
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="layui-card">
        <div class="layui-card-header">系统信息</div>
        <div class="layui-card-body">
          <p>数据库信息：Mysql</p>
          <hr/>
          <p>服务器IP：192.168.3.12</p>
          <hr/>
          <p>服务器端口：80</p>
          <hr/>
          <p>操作系统：WinXP</p>
          <hr/>
          <p>WEB服务器：Apache</p>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
</script>
