<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="shortcut icon" href="/static/img/favicon.ico">

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>登录</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/css/login.css" media="all">
</head>
<body>
<div class="layui-carousel video_mask bg-img" id="login_carousel" >

    <div class="login layui-anim layui-anim-up">
        <div class="login-center">
            <h1>BeeCMF 轻后台管理系统</h1></p>
            <form class="layui-form" action="" method="post">
                <div class="layui-form-item login-item">
                    <input type="text" name="username" lay-verify="required" placeholder="请输入账号" autocomplete="off"  value="{{.username}}" class="layui-input">
                </div>
                <div class="layui-form-item  login-item">
                    <input type="password" name="password" lay-verify="required" placeholder="请输入密码" autocomplete="off" value="" class="layui-input">
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-inline">
                        <input type="text" name="captcha" required lay-verify="required"
                               placeholder="请输入验证码"
                               autocomplete="off" class="layui-input">
                    </div>
                    <div class="login-captcha">{{create_captcha}}</div>
                </div>
                <button class="layui-btn login_btn  login-item" lay-submit lay-filter="login">登陆</button>
            </form>
        </div>
    </div>
</div>
<script src="/static/layui/layui.js" charset="utf-8"></script>
<script src="/static/js/admin.js" charset="utf-8"></script>
<script type="text/javascript">
    layui.use(['form', 'layer','jquery'], function () {
        var form = layui.form,
            $ = layui.jquery,
            layer = layui.layer;
        //监听提交
        form.on('submit(login)', function (fromdata) {
            JqueryLayMsg(
                "/login",
                fromdata.field,
                "post",
                null,
                function () {
                    $(".captcha-img").trigger("click")
                }
            );
            return false;
        });

        //监听提交
        form.on('submit(logout)', function (fromdata) {
            layer.confirm('是否确认退出？', {
                btn: ['确认', '取消'] //可以无限个按钮
            }, function(index, layero){
                JqueryLayMsg(
                    "/logout",
                    "",
                    "post"
                );
            }, function(index){
                layer.closeAll()
            });
            return false;
        });
    });
</script>
</body>
</html>



